node_modules
projects/**/dist
projects/**/.wireit
projects/**/.coverage
.wireit/
.eslintcache/
pnpm-lock.yaml
mise.lock
bun.lock
*.bun-build
LICENSE
projects/docs/src/**/*.md
projects/tools/src/vale/styles/
**/CHANGELOG.md
